project_name = "car-rental"
environment  = "prod"
location     = "germanywestcentral"

ghcr_username = "your-github-user"
ghcr_password = "ghp_..."

sql_admin_login    = "sqladminuser"
sql_admin_password = "ReplaceThisWithAStrongPassword123!"

google_maps_api_key      = "..."
pexels_api_key           = "..."
keycloak_admin_username     = "root"
keycloak_admin_password     = "ReplaceThisToo123!"
frontend_keycloak_client_id = "car-rental-frontend"
currency_converter_soap_username = "admin"
currency_converter_soap_password = "admin"
rabbitmq_username           = "emre"
rabbitmq_password           = "ReplaceThisWithARabbitMqPassword123!"
redis_password              = "ReplaceThisWithARedisPassword123!"
keycloak_import_override = "false"
